.card-category {
  background-repeat: no-repeat;
  background-position: center;
  height: 180px;
  display: block;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
    color: white;
    font-size: 28px;
    text-decoration: none;
  }
}
